# Local archive / deprecated working files
GlycoMSParser.code-workspace
2025_demo/archive/
tmpdata/
# Jupyter
.ipynb_checkpoints/

# Logs / temporary outputs
*.log
*.tmp
*.bak
*.old

# Temporary JSON outputs
*.temp.json
*_temp.json
*tmp*.json

# other format should not be included
*.ini
*.pyc
*.csv
*.tsv
*.zip

# need to keep this for version display
!project_version_manifest.ini

# google drive
.tmp.driveupload/
.venv/
.vscode/
